<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Editar documento</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
  </head>
  <body>
    <div class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %} 
            <ul id="messages" class="list-unstyled">
                {% for message in messages %}
                    <li class="alert alert-success">{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}


        <h1>{{titulo}}</h1>
        <form method="POST" action="{{url_for('update_file')}}" enctype="multipart/form-data">
          <fieldset>
          <input type="hidden" id="id" name="id" value="{{file.id}}">
          <input type="hidden" id="file_adress" name="file_adress" value="{{file.file}}">
          <input type="hidden" id="user_id" name="user_id" value="{{file.userid}}">

            <label class="fileContainer">
                Selecionar arquivo jpeg, pdf ou png
                <input type="file" name="file" accept=".jpeg, .pdf, .png">
              </label>

            <p></p>
            <button class="btn btn-primary" type="submit">Enviar</button>
            <a class="btn btn-primary" href="{{url_for('user_screen')}}">Voltar</a>
          </fieldset>
          </form>
    </div>
</body>
</html>