<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Atualizar Usuário</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
  </head>
  <body>
    <div class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %} 
            <ul id="messages" class="list-unstyled">
                {% for message in messages %}
                    <li class="alert alert-success">{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}


        <h2>Digite o login do usuário que você quer atualizar</h2>
        <form method="POST" action="{{url_for('users_update')}}">
            <p><label>Login:</label> <input class="form-control" type="text" name="login" required></p>
            <button class="btn btn-primary" type="submit">Editar</button>
            <a class="btn btn-primary" href="{{url_for('user_screen')}}">Voltar</a>

        </form>
    </div>
</body>
</html>