<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Validação</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
  </head>
  <body>
    <div class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %} 
            <ul id="messages" class="list-unstyled">
                {% for message in messages %}
                    <li class="alert alert-success">{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}

        <h1>Validação</h1>
        <form method="POST" action="{{url_for('validate_file')}}" enctype="multipart/form-data" >
            <p><label>ID do arquivo:</label> <input class="form-control" type="number" name="id" required></p>
            <p><label>Motivo da validação:</label> <input class="form-control" type="text" name="motive" required></p>
            <label class="fileContainer">
                Selecionar arquivo jpeg, pdf ou png
                <input type="file" name="file" accept=".jpeg, .pdf, .png">
              </label>

            <p></p>
            <button class="btn btn-primary" type="submit">Submeter</button>
            <a class="btn btn-primary" href="{{url_for('index')}}">Voltar</a>
        </form>
    </div>
</body>
</html>